/*Reset User Agent Style*/
 p, pre, ul, ol{
	margin: 0;
}

/*Style for whole background*/
html { 
	background: white no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#footDiv{
	position: fixed;
	bottom:1em;
	margin-top: 10px;
	width: 100%;
	z-index:-1;
}
#footDiv >#logo{
	position:absolute;
	left:2em;
	
	height:100%;
}
#footDiv >p{
	font-size: 125%;
	font-weight: 600;

	width:100%;
	height:1em;
	text-align: center;
}

/*Global Style*/
body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;/*1.42857143;*/
  color: #333;
}

/*Basic Style*/
.L_1 { font-size:200%;	font-weight:500;}
.L_2 { font-size:85%;	/*font-weight:400;*/}
.L_3 { font-size:85%;	font-weight:400;}
.L_4 { font-size:90%;	font-weight:400;}
.L_5 { font-size:90%;	font-weight:300;}

.contentDiv ul,.contentDiv ol{
	list-style-position: inside; /* Bullet is hidden since li[overflow:hide]*/
	padding-left: 3%;
	width:97%;
	border-radius:10px;
}

.contentDiv ul {
	list-style-type: disc; }

.contentDiv ul ul {
	list-style-type: square; }

.contentDiv ul ul ul {
	list-style-type: circle; }


/*1. Expand & Shrink*/
.contentDiv li >div{
	padding-left : 5px;
	padding-right: 5px;

	margin-bottom: 5px;
	border-radius:10px;

	height: 1em;
	transition: height 1s, opacity 1s;

	overflow:hidden; /*!! */
	white-space:nowrap;
	text-overflow:ellipsis;
}
.contentDiv li >div.highlight{
	/*opacity: 0.5;*/
	/*background:#f0ad4e;*/
	white-space:normal;
}

.contentDiv li >div >* {
	padding-top: 5px;
	padding-bottom: 5px;

	white-space:inherit;
	overflow:inherit;
	text-overflow:inherit;
}

.contentDiv .L_4 >li >div >*{
	padding-top: 0px;
	padding-bottom: 0px;
}


/*2. Show & Hide : Default*/


/*3. HL Posiition v3 Static Highilght Background*/
.hlBackground {
	background:#5bc0de;
	border-radius:5px;
	
	transition: height 1s, left 1s, width 1s;
	z-index: -1;

	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

	/*blue*/
	background:#d9edf7;
	border: 1px solid rgba(82,168,236,.8);
	-webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
	box-shadow: 0 0 8px rgba(82,168,236,.6); 

	/*yellow #fcf8e3 = rgba(252,248,227) #F6DC2C = rgba(246,220,44)*/
	/*	background:#fcf8e3;
	border: 1px solid rgba(246,220,44,.8);
	-webkit-box-shadow: 0 0 8px rgba(246,220,44,.6);
	box-shadow: 0 0 8px rgba(246,220,44,.6); */

	/*	background:#FCF0AD;*/
		/*background:#FFEF00;*/
}


/*4. background & border*/
.contentDiv li > .HLSameLevel {
	background: rgba(247,247,249,0.25);/*#f7f7f9;*/
}

.contentDiv li > ol.HLChildLevel, .contentDiv li > ul.HLChildLevel{
	/*border-color: #e1e1e8;*/
	background: rgb(247,247,249);
}


/*5. Opacity*/
.contentDiv li>ul >li>div, .contentDiv li>ol >li>div{
	opacity:0.3;
}
.contentDiv li>ul >li>div.highlight, .contentDiv li>ol >li>div.highlight{
	opacity:1;
}
.contentDiv .highlight+ol >li>div, .contentDiv .highlight+ul >li>div{
	opacity:1;
}


/*6. User Defined Relationship */
/*Styles for div.relateDiv, similar to popover of bootstrap*/
.relateDiv{
	padding: 1px;
	font-size:25px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*Styels related to positoin & width*/
.relateDiv >*{
  padding: 10px;
  background:rgba(247,247,249,0.25);/**/
}

.relateDiv >div >div >ul {
	padding-left: 28px;
}
.relateDiv >div >div{
	display: inline-block;    
    clear: both;
	margin: auto;
}

.relateDiv img{
	width: 100%;
}

.relateDiv >div >div.passive >*:not(:first-child){
	margin-top: 10px;
}
/*Similar to 7.3*/
.relateDiv{
	margin :10px;
	/*display:none;*/
	
	position: absolute;
}

.contentWrap {
	/*border: 5px solid red;*/
	width:98wh;
	max-width:1024px;
	min-width:600px;
	/*margin:auto;*//* set position in specificOrganizeBODY to make it centerered*/

	position: relative;
	/*left:0;*/
}

.contentDiv{
	/*border: solid 2px;*/
	
	/*0. Scrollable*//*!!Important for makeing div scrollable */ 
	overflow-y:hidden;
	/*overflow:scroll;*/

	height: 95vh;
	width: 100%;
}

.hlBackground{
	width: 100%;
	position:absolute;
}

/*Style for realteDiv-passive*/
.footnote-passive{
	text-decoration:none;
	pointer-events: none;
	cursor: default;
}
.passive{
	overflow:scroll;
}

/*Style for icons*/
.ui-icon-home {
    background-position: 0 -112px;
}
.ui-icon-circle-plus {
    background-position: 0 -192px;
}
.ui-icon-plusthick {
    background-position: -32px -128px;
}
.ui-icon-image {
    background-position: -208px -128px;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("ui-icons.png");
}

.ui-icon {
    width: 16px;
    height: 16px;
    zoom:1.1;

    display: inline-block;
    /*text-indent: -99999px;*/
    overflow: hidden;
    background-repeat: no-repeat;
}


/*Styel for space between multi line in one block*/
.contentDiv li>div>p>br{
	display: block;
    margin-top: 10px;
    content: "";
}

/*Style for [^one:1] : List item after lines in one block*/
.contentDiv li>div>p+ul {
	list-style: outside;
	padding-left: 50px;
}

.contentDiv li>div>p+ul >li {
	padding-right: 50px;
	font-size: 85%;
}

.contentDiv li>div>p+ul >li:first-child {
	list-style:initial;
}

/*Style for list item shown as one block*/
.contentDiv li>div>ul {
	padding-left: 0px;
	list-style:inherit;
}

.contentDiv li>div>ul >li:not(:first-child) {
	padding-top: 10px;
}

.contentDiv li>div>ul >li:first-child {
	list-style:none;
}

.contentDiv  li>div> p{
	text-indent: -1em;
    padding-left: 1em;
}

/*Style for Title*/
#title, #title +div{
	font-size:45px;
	font-weight:600;
	text-align:center;

	transition: height 1s, opacity 1s;

	overflow:hidden; /*!! */
	white-space:nowrap;
	text-overflow:ellipsis;
}

#title.highlight, .contentDiv li >div.full{
	white-space:normal;
}

#title >*, #title +div >p{
	padding-top: 5px;
	padding-bottom: 5px;

	white-space:inherit;
	overflow:inherit;
	text-overflow:inherit;
}


/*Style for headDiv .breadcrumb*/
.breadcrumb {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	width: 100%;
	background-color:white;
	
	font-size: 150%;
	font-weight: 700;
}

/*Differ items in headDiv based on its level */
#L2 div{
	font-size: 90%;
	font-weight: 700;
}
#L3 div{
	font-size: 80%;
	font-weight: 600;
}
#L4 div{
	font-size: 75%;
	font-weight: 500;
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	line-height: 2.5em;/*36px*/
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 0.7em 0 0.7em;/*0 10px= width*0.707 0 60px*/
	position: relative;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -1.25em; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 2.5em;/*36px; */
	height: 2.5em;/*36px; */
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;/*reset via .flat*/
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: 
		3px -3px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
	content: none;
}

.flat a, .flat a:after {
	background: white;
	color: black;
}
.flat a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
	background: white;/*#9EEB62*/
}

.breadcrumb >a >div {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding-left: 1.25em;
}

.breadcrumb >a:first-child >div {
	padding-left: 0;
}

/*Style for popup to show image */
#above {
	height:95%;
	width:95%;
	display: none;
}

#aboveConD {
	font-size:2em;
	/*font-weight: 500;*/
	width:94%;
	margin-bottom:10px;
	background:rgb(51,51,51);
	color:white;
	padding-left: 3%;
	padding-right: 3%;
}

#aboveImgD{
	/*width:100%;*/
}

#aboveImgD>img{
	background-color: white;
	/*display:inline-block;*/
	position:absolute;
}