/*Template*/
body {
  padding-top: 50px;
}

/*Custom*/
#ps-previewPopup { 
	display:none; 
	height:90%;
	width:90%;
	max-width: 1024px;
	max-height: 768px;
}

div#md2ps{
	padding-top: 15px;
	padding-bottom:15px;
}


#demo-notes-editor>textarea{
	height:50vh;
}

#demo-notes-header >.form-group{
	margin-bottom: 0px;
}

.btn-toolbar>.btn-group{
	margin-bottom: 5px;
	margin-top: 5px;
}

#ps-alert{
	margin-left:20px;
	display: none;
}